.boardCntnr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}