.mainCntnr {
  overflow: hidden;
}

.subCntnr {
  padding: 20px;
}

.logo {
  margin-left: 30px;
}

.title {
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  text-transform: uppercase;
  font-family: Comix Loud;
  color: var(--main-color);
}

.subtitle {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: Comix Loud;
  color: var(--secondary-color);
}

.buttonsCntnr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  text-transform: uppercase;
  font-family: Comix Loud;
  color: var(--secondary-color);
  border-color: var(--main-color);
  background-color: white;
  border-width: 2px;
  display: block;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
}

.levelSelectorFooter {
  width: 3100px;
  margin: auto;
  border-color: var(--secondary-color);
  border-width: 2px;
  overflow-x: hidden;
  text-align: center;
  margin-top: 40px;
}

.footerText {
  font-family: Comix Loud;
  text-transform: uppercase;
  color: var(--main-color);
  animation-name: rightToLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation: rightToLeft 25s linear infinite;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 20px !important;
    line-height: 80px;
  }
  .subtitle {
    font-size: 10px;
  }
  .button {
    font-size: 10px;
    width: 200px !important;
    height: 40px;
    line-height: 40px;
  }
  .footerText{
    font-size: 10px;
    animation: rightToLeft 30s linear infinite;
  }
}